{
  "requiresCompatibilities": [
    "FARGATE"
  ],
  "family": "{{app_name}}_{{task_name}}_{{env}}",
  "networkMode": "awsvpc",
  "executionRoleArn": "{{task_execution_role_arn}}",
  "cpu": "512",
  "memory": "2048",
  "containerDefinitions": [{
    "name": "{{app_name}}_{{task_name}}_{{env}}",
    "image": "{{docker_image_tag}}",
    "cpu": 512,
    "memory": 2048,
    "essential": true,
    "portMappings": [
      {
        "hostPort": 3000,
        "containerPort": 3000,
        "protocol": "tcp"
      }
    ],
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-create-group": "true",
        "awslogs-group": "{{app_name}}-{{env}}-{{task_name}}",
        "awslogs-region": "us-east-1",
        "awslogs-stream-prefix": "{{app_name}}-{{env}}"
      }
    },
    "environment": [
      {
        "name" : "IS_RUNNING_ON_ECS",
        "value" : "TRUE"
      }
    ],
    "ulimits": [
      {
        "name": "nofile",
        "softLimit": 65535,
        "hardLimit": 65535
      }
    ]
  }, {
      "name": "otel-collector",
      "image": "public.ecr.aws/aws-observability/aws-otel-collector:latest",
      "cpu": 128,
      "memory": 256,
      "portMappings": [
        {
          "containerPort": 4317,
          "hostPort": 4317,
          "protocol": "tcp"
        },
        {
          "containerPort": 4318,
          "hostPort": 4318,
          "protocol": "tcp"
        }
      ],
      "essential": true,
      "environment": [],
      "mountPoints": [],
      "volumesFrom": [],
      "secrets": [
        {
          "name": "AOT_CONFIG_CONTENT",
          "valueFrom": "arn:aws:ssm:us-east-1:860331263758:parameter/otel-collector"
        }
      ],
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-create-group": "true",
          "awslogs-group": "{{env}}/{{app_name}}/{{task_name}}",
          "awslogs-region": "us-east-1",
          "awslogs-stream-prefix": "{{env}}-{{app_name}}"
        }
      }
    }

  ]
}
